

<div class="parent">
    <div class="child">
        <form [formGroup]="loginForm">
            <h1>Login</h1>
            <label>Email:</label>
            <input type="text" placeholder="Email" id="" formControlName="email">
            <br><br>
            <label>Password</label>
            <input type="text" placeholder="Password" id="" formControlName="password">
            <br>
            <br><hr>
            <button (click)="login()">Login</button>
        </form>
    </div>
</div>

