<p>login works!</p>
<div class="parent">
    <div class="child">
        <form action="">
            <h1>Login</h1>
            <input type="text" placeholder="Email" id="">
            <br><br>
            <input type="text" placeholder="Password" id="">
            <br>
            <button routerLink="/dashboard">Login</button>
            <br><hr>
            <button>Login With Google</button>
            <br>
            <button>Login With Facebook</button>
        </form>
    </div>
</div>