.box{
    height: 150px;
    width:350px ;
    background-color: lightblue;
    text-align: center;
    margin: 10px;

}

.sibling{
height: 150px;
width: 350px;
background-color: bisque;
display: inline-block;
}
.sibling2{
height: 150px;
width: 350px;
background-color: bisque;
}