<div class="parent">
    <div class="left">
        <h1>My Website</h1>
        <hr>
        <h2 routerLink="welcome">Welcome</h2>
        <h2 routerLink="home">Home</h2>
        <h2 routerLink="about">About</h2>
        <h2 routerLink="data-binding">data-binding</h2>
        <h2 routerLink="directives">Directives</h2>
        <h2 routerLink="pipes">Pipes</h2>
        <h2 routerLink="employestable">Employestable</h2>
        <h2 routerLink="eventregistration">EventRegistration</h2>
        <h2 routerLink="cart">Cart</h2>
        <h2 routerLink="flipcart">Flipcart</h2>
        <h2 routerLink="myntra">Myntra</h2>
        <h2 routerLink="account">Account</h2>
        <h2 routerLink="create-account">Create-Account</h2>
        <!-- <h2 routerLink="email">Email</h2> -->
        <h2 routerLink="parent">Parent</h2>
        <h2 routerLink="calculator">Calculator</h2>
        <h2 routerLink="aboutcompany">AboutCompany</h2>
        <br>
        <button (click)="logout()">Logout</button>

    </div>
    <div class="right">
        <router-outlet></router-outlet>
    </div>

</div>